* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(73, 73, 73);
}

.container {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 50px;
}

.card {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 15px;
  max-width: 600px;
  margin: auto;
}

.img {
  max-width: 300px;
  border-radius: 10px;
}

.info h2 {
  font-size: 24px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
  .card {
    flex-direction: column;
  }
  .img {
    max-width: 90%;
  }
  
}
